.content-drop {
    height: 240px;
    overflow: auto;
    visibility: hidden;
}

.content-drop li{
    display: block;
    background-color: rgb(58, 56, 56);
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(238, 238, 238);
    
}

.content-drop li a{
    color: rgb(237, 234, 240)
}

/* pour afficher les ripos  */
.activeUrl {
    visibility: visible !important;
}